<main class="container">
  <div class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

  <h2>Liste des assignments :</h2>
  <p>Nb total d'assignments = {{totalDocs}}</p>
  <p>Nb de pages = {{totalPages}}</p>
  
  <p>Nb d'assignments par page :
    <input type="range" min="1" max="100" step="1" (change)="changeLimit()" [(ngModel)]="sliderLimit"> {{sliderLimit}} &nbsp;
  </p>

  <div class="container2">
    <button mat-stroked-button (click)="premierePage()" [disabled]="!hasPrevPage">PREMIERE PAGE</button>
    <button mat-stroked-button (click)="pagePrecedente()" [disabled]="!hasPrevPage">PRECEDENT</button>
    <button mat-stroked-button (click)="pageSuivante()" [disabled]="!hasNextPage">SUIVANT</button>
    <button mat-stroked-button (click)="dernierePage()" [disabled]="!hasNextPage">DERNIERE PAGE</button>
  </div>

  <mat-list *ngFor="let assignment of assignments; index as i">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonsoumis">
            <span appRendu>{{i}} - {{assignment.nom}}.</span>
          </p>

          <ng-template #nonsoumis>
            <span appNonrendu>
              <p><b>{{i}} - {{assignment.nom}}</b></p>
            </span>
          </ng-template>
        </mat-list-item>
      </a>
    <button mat-raised-button color="warn" (click)="onDelete(assignment)" [disabled]="!isAdmin()">DELETE</button>

    </nav>
    <mat-divider></mat-divider>
  </mat-list>

  <table mat-table [dataSource]="assignments" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="nom" >
        <th mat-header-cell *matHeaderCellDef> Nom </th>
        <td mat-cell *matCellDef="let element" >
          {{element.nom}}
        </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="date-rendu">
        <th mat-header-cell *matHeaderCellDef> Date De Rendu  </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDeRendu | date}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef> Rendu </th>
        <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
      </ng-container>

  
    <!-- Symbol Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon (click)="onDelete(element)" [ngClass]="{'disabled' : !isAdmin() }" class=" delete-icon icon">delete</mat-icon> 
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon (click)="onEditing()" [ngClass]="{'disabled' : !isAdmin() }" class="edit-icon icon">edit</mat-icon> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons 
    aria-label="Select page of periodic elements">
</mat-paginator>
  
  <!--
  <app-assignment-detail [assignmentTransmis]="assignmentSelectionne">

  </app-assignment-detail>
  -->
  
</main>
